<div id="wrapper">
	<h3>Welcome to the showroom</h3>
	<button [routerLink]="['/factory']">Create Review</button>





	<div id="reviews">
		<div *ngFor="let reviews of reviews">
			<h5>{{reviews.year}} {{reviews.make}} {{reviews.model}}</h5>
			<p>{{reviews.description}}</p>
		</div>
	</div>
	<!-- 	<table>
			<tr>
				<th>year:</th>
				<th>Make:</th>
				<th>Model:</th>
				<th>Desription:</th>
			</tr>
			<tr *ngFor="let reviews of reviews">
				<td>{{reviews.year}}</td>
				<td>{{reviews.make}}</td>
				<td>{{reviews.model}}</td>
				<td>{{reviews.description}}</td>
			</tr>
		</table> -->
</div>
