<html>
<head>
	<title></title>
</head>
<body>
    
    <h1>counter</h1>
    <%= count %>
     <form action='/two' method='post'>
        <input type='submit' value='add two to view count'>
    </form>
    <form action='/reset' method='post'>
        <input type='submit' value='reset view count'>
    </form>
    
</body>
</html>