<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<% if(typeof(errors) != 'undefined') { %>
		<% for (var x in errors) { %>
		<h3><%= errors[x].message %></h3>
		<% } %>
		<% } %>
	<form action="/users" method="post">
		<input type="String" name="first_name">
		<input type="String" name="last_name">
		<input type="Number" name="age">
		<input type="String" name="email">
		<input type="submit" name="register">		
	</form>

	
    
</body>
</html>